numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
rank-bm25==0.2.2
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
opensearch-py==2.6.0
streamlit==1.37.1
jupyterlab==4.2.4
matplotlib==3.9.1
rich==13.7.1
