# LLM_PROVIDER=fallback
# LLM_FALLBACK_CHAIN=bedrock,openapi,ollama
LLM_PROVIDER=ollma
# OR
# LLM_PROVIDER=openapi
# OR
# LLM_PROVIDER=bedrock
AWS_REGION=us-east-1
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0

OPENAPI_BASE_URL=https://api.openai.com/v1
OPENAPI_API_KEY=replace-me
OPENAPI_MODEL=gpt-4o-mini

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.1